@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
/* 
#titulo-principal{
    text-align: center;
} */

/* .contenedor-mascotas{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 4px;
} */